# Titanic дерево решений

In [24]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
import seaborn as sns
import pydot
import subprocess

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
from sklearn.tree import DecisionTreeClassifier

plt.style.use('ggplot')
%matplotlib inline

In [25]:
df=pd.read_csv("/Users/daniilvdovinov/Desktop/DATA-ANALYSYS_2/Dataset/titanic.csv",encoding="cp1251")
print(df.shape)
print(df.info())
df.head()

(887, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
Survived                   887 non-null int64
Pclass                     887 non-null int64
Name                       887 non-null object
Sex                        887 non-null object
Age                        887 non-null float64
Siblings/Spouses Aboard    887 non-null int64
Parents/Children Aboard    887 non-null int64
Fare                       887 non-null float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB
None

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [44]:
le = LabelEncoder()
le.fit(df.Sex)
df['Sex_bin'] = le.transform(df.Sex)
x=df[['Pclass', 'Sex_bin', 'Age', 'Fare']]
y=df.values[::, 0]

In [116]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [117]:
tree=DecisionTreeClassifier(criterion='gini', max_depth=7, min_samples_leaf=5)
tree.fit(x_train, y_train)

print('Результат на обучающей выборке: ', tree.score(x_train,y_train))
print('Результат на тестовой выборке: ',tree.score(x_test, y_test))

Результат на обучающей выборке:  0.853225806451613
Результат на тестовой выборке:  0.8614232209737828

In [119]:
export_graphviz(tree, out_file='/Users/daniilvdovinov/Desktop/DATA-ANALYSIS/Homework/Homework3/Titanic_tree.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True,feature_names=x.columns)
(graph, ) = pydot.graph_from_dot_file('/Users/daniilvdovinov/Desktop/DATA-ANALYSIS/Homework/Homework3/Titanic_tree.dot')
graph.write_png('/Users/daniilvdovinov/Desktop/DATA-ANALYSIS/Homework/Homework3/Titanic_tree.png')

In [118]:
tree=DecisionTreeClassifier(criterion='entropy', max_depth=7, min_samples_leaf=5)
tree.fit(x_train, y_train)

print('Результат на обучающей выборке: ', tree.score(x_train,y_train))
print('Результат на тестовой выборке: ',tree.score(x_test, y_test))

Результат на обучающей выборке:  0.8403225806451613
Результат на тестовой выборке:  0.8651685393258427